header {
  background-color: #07222B;
  height: 60px;
}

header .logo {
  float: left;
  margin: 15px;
  font-size: 20px;
}

header a {
  color: #8197A0;
  text-decoration: none;
  margin: 10px;
}

header a:hover {
  color: #2C7281;
}

header .navbar {
  float: right;
}

.container {
  background-color: lightgray;
  width: 900px;
  height: 1000px;
}

.display-message {
  background-color: #2C7281;
  color: white;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.fa-times {
  float: right;
  margin: 17px 10px 10px 10px;
}

.fa-trash {
  color: red;
}

.fa-edit {
  color: #2C7281;
}

.display_products {
  margin-left: auto;
  margin-right: auto;
}

.no_products {
  background-color: #2C7281;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50px;
  color: white;
  line-height: 50px;
}

.display_products {
  border-collapse: collapse;
  width: 700px;
}

.display_products td,
.display_products th {
  border: 1px solid black;
  text-align: center;
}

.display_products thead {
  background-color: #2C7281;
  color: white;
  font-size: 20px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.card .add-btn {
  background-color: #2C7281;
  color: white;
}

.card .card-header {
  background-color: #2C7281;
  color: white;
}

.update-card {
  margin-left: auto;
  margin-right: auto;
  background-color: #2C7281;
  border-radius: 10px;
  padding: 15px;
  width: 700px;
}

.update-card .update-card-header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  width: 100px;
  height: 100px;
}

.update-card .btn {
  border-color: transparent;
}

.update-card .update-btn {
  float: left;
  width: 50%;
  background-color: #07222B;
  color: white;
}

.update-card .cancel-btn {
  float: right;
  width: 50%;
  background-color: red;
  color: white;
}

.products {
  text-align: center;
}

.products h1 {
  color: #07222B;
  margin-bottom: 30px;
}

.products .product {
  height: 300px;
  width: 270px;
  background-color: white;
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}

.products .product .product-header img {
  width: 130px;
  height: 130px;
  margin: 10px;
}

.products .product h3 {
  text-transform: uppercase;
}

.products .product .cart-btn {
  margin-top: 20px;
  background-color: #07222B;
  color: white;
  border: transparent;
  border-radius: 5px;
  width: 100px;
  height: 33px;
}

.products .product .cart-btn:hover {
  color: #2C7281;
}

.cart {
  text-align: center;
}

.cart h1 {
  color: #07222B;
}

.cart table {
  margin-left: auto;
  margin-right: auto;
}

.cart table thead {
  background-color: #2C7281;
  color: white;
  font-size: 20px;
  padding: 100px;
}

.cart table td, .cart table th {
  border: 2px solid black;
  text-align: center;
}

.cart table td img, .cart table th img {
  width: 100px;
  height: 100px;
}

.cart .table-bottom {
  background-color: #07222B;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cart .table-bottom a:first-of-type {
  text-decoration: none;
  color: white;
  margin: 5px 70px 5px 20px;
}

.cart .table-bottom a:last-of-type {
  text-decoration: none;
  color: white;
  margin: 5px 20px 5px 70px;
}
/*# sourceMappingURL=style.css.map */